# Standard Next.js ignores
node_modules/
.next/
out/
build/
.DS_Store
*.pem

# Environment variables
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Videos - too large for GitHub
public/eco tours/*.mp4
public/eco tours/*.mov
public/eco tours/*.avi
public/eco tours/*.mkv
